
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
amqp
annotated-types
ansi2html
anyio
appnope
asttokens
astunparse==1.6.3
attrs==24.2.0
billiard
blinker
boto3
botocore
branca==0.8.0
Brotli
cachelib==0.9.0
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins==1.1.1
click-repl
comm
contourpy
cssselect2==0.7.0
cycler
dash==2.18.1
dash-bootstrap-components
dash-core-components==2.0.0
dash-extensions==1.0.18
dash-html-components==2.0.0
dash-leaflet==1.0.15
dash-table==5.0.0
dataclass-wizard==0.22.3
datasets==3.1.0
debugpy
decorator
dill==0.3.8
distro==1.9.0
docstring_parser==0.16
docutils==0.21.2
docx==0.2.4
EditorConfig==0.12.4
et_xmlfile==2.0.0
exceptiongroup
executing
fastapi
fastjsonschema==2.20.0
filelock==3.16.1
fire==0.7.0
Flask
Flask-Caching==2.3.0
folium==0.17.0
fonttools
frozenlist==1.5.0
fsspec==2024.9.0
greenlet
gunicorn
h11==0.14.0
h2
hpack==4.0.0
httpcore==1.0.6
httpx==0.27.2
hyperframe
idna
importlib_metadata
ipykernel
ipython
ipywidgets==8.1.5
itsdangerous
jedi
Jinja2
jiter==0.6.1
jmespath
joblib
jsbeautifier==1.15.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client
jupyter_core
jupyterlab_widgets==3.0.13
kiwisolver
kombu
lxml==5.3.0
MarkupSafe
matplotlib
matplotlib-inline
mistral_common==1.4.4
mistral_inference==1.5.0
more-itertools==10.5.0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
munkres==1.1.4
nbformat==5.10.4
nest_asyncio
networkx==3.4.2
ninja==1.11.1.1
numpy
openai==0.28.0
openpyxl==3.1.5
packaging
pages==0.3
pandas
parso
patsy
pdfkit==1.0.0
pexpect
pickleshare
piglet-templates==1.3.1
pillow
platformdirs
plotly
prompt_toolkit
propcache==0.2.0
psutil
psycopg2
ptyprocess
pure_eval
pyarrow==18.0.0
pycparser
pydantic
pydantic_core
pydyf==0.11.0
Pygments
pyparsing
pyphen==0.15.0
PySide6==6.7.3
PySide6_Addons==6.7.3
PySide6_Essentials==6.7.3
PySocks
python-dateutil
python-docx==1.1.2
pytz
PyYAML==6.0.2
pyzmq
referencing==0.35.1
regex==2024.9.11
requests
retrying
rpds-py==0.20.0
ruff==0.4.10
s3transfer
safetensors==0.4.5
scikit-learn==1.4.2
scipy
seaborn
sentencepiece==0.2.0
shiboken6==6.7.3
simple-parsing==0.1.6
six
sniffio
SQLAlchemy
stack-data
starlette
statsmodels
sympy==1.13.1
tenacity
termcolor==2.5.0
threadpoolctl
tiktoken==0.7.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tokenizers==0.20.3
tornado
tqdm==4.66.5
traitlets
typing_extensions
tzdata
urllib3
vine
wcwidth
weasyprint==63.0
webencodings==0.5.1
Werkzeug
widgetsnbextension==4.0.13
xgboost==2.1.1
xxhash==3.5.0
xyzservices==2024.9.0
yarl==1.17.1
zipp
zopfli==0.2.3.post1
zstandard==0.23.0
